nav {
	width: 100%;
	margin-top: 20px;

	display: flex;
	gap: 25px;
	align-items: center;
	justify-content: center;
}

nav > a {
	width: 40px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-style: solid;
	border-radius: 50%;
	border-color: var(--black);

	background-color: var(--red);

	cursor: pointer;

	text-decoration: none;
}

nav > a > span {
	color: #fff;
}

nav > a.disabled {
	opacity: 0.5;
}

nav > #page-index {
	font-size: 1.25rem;
}
