.search-form {
	width: 100%;
	margin: 50px 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.search-form input {
	width: 350px;
	height: 50px;
	padding-left: 15px;

	border-style: solid;
	border-width: 3px;
	border-color: var(--black);
	border-right-width: 0;
	border-radius: 25px 0 0 25px;
	outline: none;
}

.search-form button {
	width: 50px;
	height: 50px;
	background-color: #fff;

	border-style: solid;
	border-width: 3px;
	border-color: var(--black);
	border-left-width: 0;
	border-radius: 0 25px 25px 0;

	cursor: pointer;

	transition: background 0.25s ease-out;
}

.search-form button:hover {
	background-color: var(--red);
}

.search-form button:hover span {
	color: #fff;
}

.search-form > .error-msg {
	color: var(--red);
	font-weight: bold;
	margin-top: 0.25rem;
}
