@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
}

:root {
    --red: #f27163;
    --blue: #9ad3ec;
    --green: #82ef71;
    --yellow: #f5c83e;
    --black: #232323;
    --gray: #929292;
}

body {
    background-color: var(--black);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 75%;
    flex-grow: 2;

    padding: 25px 50px;

    background-color: #ddd;
}

.column-flex-container {
    display: flex;
    flex-direction: column;
}

.row-flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 720px) {
    main {
        width: 100%;

        padding: 10px 20px;
    }

    .desktop-only {
        display: none;
    }
}
