main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-details {
    width: 100%;
    min-height: 500px;
    height: 60vh;

    background-color: #fff;

    border-style: solid;
    border-width: 5px;
    border-color: var(--black);
    border-radius: 25px;

    display: flex;

    overflow: hidden;
}

.pokemon-details .content {
    flex-grow: 1;
    height: 100%;

    border-left: 5px solid var(--black);
}

/*=================================*\
            Image Styling
\*=================================*/
.pokemon-details > .img-container {
    width: 40%;

    background: linear-gradient(#9ad3ec88, #9ad3ecbb), repeating-linear-gradient(transparent 1px, black 3px, black 3px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-details > .img-container > img {
    max-width: 100%;
}

/*=================================*\
            header Styling
\*=================================*/

.pokemon-details .content header::before {
    display: none;
}

.pokemon-details .content header {
    justify-content: flex-start;
    margin-bottom: 50px;
}

.pokemon-details .content header #pokemon-id {
    font-size: 1.25rem;
    color: #fff;

    margin-right: 20px;
}

.pokemon-details .content header #pokemon-name {
    font-size: 2rem;
    color: #fff;
}

/*=================================*\
            stats Styling
\*=================================*/

.pokemon-details .content .stats-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.pokemon-details .content .stats-container .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pokemon-details .content .stats-container .stat-name {
    font-size: 1.25rem;
    color: var(--gray);
}

.pokemon-details .content .stats-container .stat-value {
    font-size: 2rem;
    color: var(--black);
}
